:root{
    --white: #eaedf4;
    --background: #151f35;
    --blue: #172576;
    --pink: #FF93C9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Verdana", sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

main {
}