:root{
    --white: #eaedf4;
    --background: #151f35;
    --lightbackground: #c9d4ec;
    --lighttext: #b7c0d3;
    --blue: #172576;
    --pink: #FF93C9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    color: var(--white);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

.bg-nav {
    background-color: var(--lightbackground);
}

.bg-main {
    background-color: var(--background);
}

#about h1 {
    font-size: 2em;
    padding-top: 15px;
    color: var(--pink);
}

#about h2 {
    font-size: 1.2em;
}

.link-logos {
    padding-top: 15px;
}

.link-logos span {
    padding-right: 15px;
    padding-left: 0;
}

.resume {
    text-decoration: none;
    padding: 10px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
}

.resume:hover {
    color: var(--pink);
    border: 2px solid var(--pink);
}

.mail:hover {
    content:url("assets/imgs/logos/gmail-pink.png");
}

.linkedin:hover {
    content:url("assets/imgs/logos/linkedin-pink.png");
}

.circle-img {
    justify-content: center;
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circle-img img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#skills h1 {
    font-size: 2em;
    padding-top: 15px;
    color: var(--pink);
    text-align: center;
    padding-top: 75px;
}

#skills hr {
    border: 2px solid var(--pink);
    width: 50%;
    margin: auto;
}

.skill-icon {
    width: 100px;
    height: 100px;
    background-color: var(--lightbackground);
    border-radius: 50px;
}

.skill-icon img {
    padding: 10px;
}

.skills-width {
    width: 90%;
}

.text-c-muted {
    color: var(--lighttext);
}

#experience {
    padding-left: 120px;
    width: 80%;
}

#experience h1 {
    padding-top: 120px;
    color: var(--pink);
}

#experience hr {
    border: 2px solid var(--pink);
    padding-left: 100;
    width: 50%;
}

.exp-title b {
    color: var(--pink);
}

.task-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.task-list:after {
    content: "";
    position: absolute;
    background: var(--pink);
    height: 100%;
    width: 2px;
    top: 0;
    left: 20px;
    z-index: 1;
}

.task-list li {
    margin-bottom: 30px;
    padding-left: 70px;
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: 2px solid var(--pink);
        background-color: var(--pink);
        position: absolute;
        left: 0;
    }
}

.task-list li:last-child {
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .exp-date {
        display: block;
        margin-bottom: 10px;
    }

    #experience {
        padding-left: 20px;
        margin-left: 20px;
        width: 80%;
    }

    #experience h1 {
        text-align: center;
        padding-left: 0;
        margin-left: 0;
    }

    #experience hr {
        border: 2px solid var(--pink);
        width: 300px;
        margin: auto;
    }

    #skills hr {
        border: 2px solid var(--pink);
        width: 300px;
        margin: auto;
    }

    .task-list:after {
        content: "";
        position: absolute;
        background: var(--pink);
        height: 100%;
        width: 2px;
        top: 0;
        left: 20px;
        z-index: 1;
    }
    
    .task-list li {
        margin-bottom: 30px;
        padding-left: 70px;
        position: relative;
    
        &:before {
            content: '';
            display: block;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid var(--pink);
            background-color: var(--pink);
            position: absolute;
            left: 0;
        }
    }
}

@media (min-width: 576px) {
    #about {
        display: flex;
        flex-direction: row;
    }

    .about-left {
        width: 50%;
        margin-left: 200px;
        margin-top: 90px;
    }

    .about-right {
        width: 50%;
        margin-right: 200px;
        margin-top: 100px;
    }

    .skills-width {
        width: 75%;
    }

    .exp-date {     
        border-left: 2px solid var(--white);
        padding-left: 5px;
    }
}