:root{
    --white: #eaedf4;
    --background: #151f35;
    --lightbackground: #0d1629;
    --lighttext: #b7c0d3;
    --blue: #172576;
    --pink: #FF93C9;
    --darkpink: #ad5a84;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    color: var(--white);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

.bg-nav {
    background-color: var(--lightbackground);
}

.bg-main {
    background-color: var(--background);
}

.navbar a {
    color: var(--white);
}

.brand a {
    color: var(--pink);
}

.brand a:hover {
    color: var(--pink);
}

.navbar a:hover {
    color: var(--pink);
}

.mySlides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.5;
}

.carousel-caption {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 2.5em;
    text-shadow: -1px 1px 5px black;
    top: 50%;
    font-weight: bold;
}

.type-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40%;
    z-index: 2;
    font-weight:100;
}

.typewriter {
    font-size: 1.5em;
    text-shadow: 0 0 7px black;
}

#typing-text {
    color: var(--pink);
    border-right: 2px solid var(--pink);
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    animation: blink 0.9s step-end infinite;
}

.type-flex, .carousel-caption {
    pointer-events: none;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.button {
    background-color: transparent;
    color: white;
    text-shadow: -1px 1px 3px black;
    display: inline;
    font-size: 4em;
    border: none;
    z-index: 10;
    pointer-events: auto;
    width: 50px; /* Expand hit area horizontally */
    height: 50px; /* Expand hit area vertically */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#about h1 {
    font-size: 2em;
    padding-top: 10px;
    color: var(--pink);
}

#about h2 {
    font-size: 1.2em;
}

#about h3 {
    font-size: 1.2em;
    padding-top: 0;
}

.about-small-flex h2 {
    color: var(--pink);
}

#about h3 {
    font-size: 1em;
    padding-top: 10px;
}

#about h4 {
    font-size: 0.9em;
}

.about-small-flex {
    display: flex;
    flex-direction: row;
}

.about-education {
    padding-right: 75px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.about-interests {
    padding: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.about-interests ul {
    padding-top: 6px;
}

.link-logos {
    padding-top: 15px;
}

.link-logos span {
    padding-right: 15px;
    padding-left: 0;
}

.resume {
    text-decoration: none;
    padding: 10px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
}

.resume:hover {
    color: var(--pink);
    border: 2px solid var(--pink);
}

.mail:hover {
    content:url("assets/imgs/logos/gmail-pink.png");
}

.linkedin:hover {
    content:url("assets/imgs/logos/linkedin-pink.png");
}

.circle-img {
    justify-content: center;
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circle-img img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#skills h1 {
    font-size: 2em;
    padding-top: 15px;
    color: var(--pink);
    text-align: center;
    padding-top: 75px;
}

#skills hr {
    border: 2px solid var(--pink);
    width: 50%;
    margin: auto;
}

.about-right hr {
    border: 2px solid var(--pink);
    width: 50%;
    margin: auto;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--lightbackground);
    border-radius: 50px;
}

.skill-icon img {
    padding: 10px;
}

.skills-width {
    width: 90%;
}

.text-c-muted {
    color: var(--lighttext);
}

#experience {
    padding-left: 120px;
    width: 80%;
}

#experience h1 {
    padding-top: 120px;
    font-size: 2em;
    color: var(--pink);
}

#experience h2 {
    font-size: 1.7em;
}

#experience hr {
    border: 2px solid var(--pink);
    padding-left: 100;
    width: 50%;
}

.exp-title b {
    color: var(--pink);
}

.task-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.task-list:after {
    content: "";
    position: absolute;
    background: var(--pink);
    height: 100%;
    width: 2px;
    top: 0;
    left: 20px;
    z-index: 1;
}

.task-list li {
    margin-bottom: 30px;
    padding-left: 70px;
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: 2px solid var(--pink);
        background-color: var(--pink);
        position: absolute;
        left: 0;
    }
}

.exp-desc li {
    margin-bottom: 5px;
    padding-left: 0;
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-radius: 50%;
        border: 0 solid var(--white);
        background-color: var(--white);
        position: relative;
        left: 0;
    }
}

.exp-desc {
    padding-bottom: 15px;
}

.task-list li:last-child {
    margin-bottom: 0;
}

footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logos span {
    padding-right: 15px;
    padding-left: 0;
}

footer h2 {
    font-size: 1.4em;
    padding-bottom: 15px;
}

footer h3 {
    font-size: 1em;
    padding-top: 25px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

@media (max-width: 576px) {
    #about, #skills, #experience {
        margin: 0;
        padding: 0;
        padding-top: 15px;
    }

    .carousel-caption {
        top: 40%;
    }

    .type-flex {
        text-align: center;
    }

    #typing-text {
        display: block;
        text-align: center;
    }
    
    #about h1 {
        padding-top: 20px;
    }

    #about h3 {
        padding-top: 0;
        font-size: 1.1em;
    }

    .exp-date {
        display: block;
        margin-bottom: 10px;
    }

    h1 {
        text-align: center;
    }

    .about-left {
        margin-top: 45px;
        margin-bottom: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .circle-img {
        justify-content: center;
        display: flex;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    }

    .about-right {
        padding-right: 30px;
        padding-left: 30px;
    }

    .about-small-flex {
        display: block;
    }

    .about-education {
        padding: 0;
        padding-top: 15px;
    }
    
    .about-interests {
        padding: 0;
        padding-top: 15px;
    }

    #experience {
        padding-left: 20px;
        margin-left: 20px;
        width: 80%;
    }

    #experience h1 {
        text-align: center;
        padding-left: 0;
        margin-left: 0;
    }

    #experience hr {
        border: 2px solid var(--pink);
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin: auto;
        margin-bottom: 15px;
    }

    #skills hr {
        border: 2px solid var(--pink);
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin: auto;
    }

    #about hr {
        border: 2px solid var(--pink);
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin: auto;
        margin-bottom: 15px;
    }

    .task-list:after {
        content: "";
        position: absolute;
        background: var(--pink);
        height: 100%;
        width: 2px;
        top: 0;
        left: 20px;
        z-index: 1;
    }
    
    .task-list li {
        margin-bottom: 30px;
        padding-left: 70px;
        position: relative;
    
        &:before {
            content: '';
            display: block;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid var(--pink);
            background-color: var(--pink);
            position: absolute;
            left: 0;
        }
    }

    .exp-desc li {
        margin-bottom: 5px;
        padding-left: 0;
        position: relative;
    
        &:before {
            content: '';
            display: block;
            height: 0;
            width: 0;
            border-radius: 50%;
            border: 0 solid var(--white);
            background-color: var(--white);
            position: relative;
            left: 0;
        }
    }
}

@media (min-width: 576px) {
    
    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: calc(100vh - 56px);
    }

    .about-left {
        width: 30%;
        margin-left: 150px;
        margin-top: 90px;
    }

    .about-right {
        width: 70%;
        margin-right: 150px;
        margin-left: 100px;
        margin-top: 100px;
    }

    .skills-width {
        width: 75%;
    }

    .exp-date {     
        border-left: 2px solid var(--white);
        padding-left: 5px;
    }

    .row {
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .col p {
        padding-right: 30px;
        padding-left: 30px;
    }

    .about-right hr {
        visibility: hidden;
    }

    #about h3 {
        font-size: 1.2em;
        padding-top: 0;
    }
}


@media only screen and (min-width: 1920px){

    .carousel-caption {
        font-size: 3.2em;
    }
    
    .typewriter {
        font-size: 2.2em;
    }

    .about-left {
        margin-left: 250px;
    }

    .about-right {
        margin-right: 250px;
        margin-left: 100px;
    }

    #about h1 {
        padding-top: 30px;
    }

    #about h2 {
        font-size: 1.4em;
    }

    #about h3 {
        font-size: 1.2em;
        padding-top: 0;
    }

    #about h4 {
        font-size: 1em;
    }

    #skills hr {
        width: 650px;
    }
}